html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: sans-serif;
	font-size: 20px;
}

/**
 * 
 */
video {
	width: 240px;
	height: 480px;
	border: 1px solid blue;
}




/**
 * 接続先IDコンボボックス
 */
#remoteIdCombobox {
	width: 160px;
}



/*
#########################################################################
*/

input {
	margin-bottom: 5px;
}

p {
	margin: 0;
}

a:visited{ 
	color: blue; 
}

.display {
	width: 100%;
	min-height: 400px;
	padding-bottom: 20px;
}

.control {
	width: 100%;
	padding-bottom: 20px;
}

/**
 * コントロールボタン
 */
.control-button {
	width: 80px;
	height: 30px;
}

.display-box {
	border: 2px solid black;
}

.title {
	vertical-align: top;
}

.standby {
	background-color: red;
}

.go {
	background-color: green;
}

.fade {
	background-color: yellow;
}

.off {
	background-color: gray;
}

.hidden {
	visibility: hidden;
}

.no-display {
	display: none;
}

/**
 * ステータス表示
 */
.status {
/*	height: 125px;*/
	vertical-align: text-top;
	font-weight: bold;
	margin-bottom: 10px;
	border-bottom: 2px solid black;

}

/**
 * メッセージ部分
 */
.message {
/*	height: 125px;*/
	max-height: 125px;
	margin-bottom: 10px;
	border-bottom: 2px solid black;
	overflow: auto;
}

.msg-time {
	color: blue;
}

.cueMsg {
	color: orange;
}

.selfMsg {
	color: green;
}

.peerMsg {
	color: red;
}
